/************************
	 Reset 
*************************/
* {
	margin: 0;
	padding: 0;
	font-family: 'Vollkorn', Arial;
}
a {
	text-decoration: none;
}

/************************
	 Header
*************************/
header {
	font-family:"Pacifico";
}

h1 {
	font-family: "Pacifico", cursive;
	margin: 0;
	font-size: 50px;
	color: #B72080;
	text-shadow: 3px 3px 5px #FCF5FA;
	text-align: center;
}
h2 {
	text-align: center;
}

nav {
	text-align: center;
	margin-top: -15px;
}
nav a {
	display: inline-block;
	padding: 10px 15px;
}
/************************
	Body
*************************/
main, header, footer {
	width: 960px;
	margin:0 auto;
	clear: both;
}

main {
	position: relative;
}

h2 {
	font-family: "Pacifico", cursive;
	font-size: 35px;
	margin:0;
	color: #7C3060;
}

h3 {
	margin-top: 15px;

}


img {
	max-height: 600px;
	max-width: 500px;
}

.gallery {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.gallery > * {
	flex: 1;
	margin-bottom: 5px;
}

iframe {
	display: block;
	margin: 0 auto;
	height: 450px;
	width: 500px;
}

/************************
	Footer
*************************/

footer {
	clear:both;
	text-align: right;
}

